{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h1>Page d'accueil d'images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td><img src="https://source.unsplash.com/random/200x200?sig=1"/></td>
                <td>{{ image.date ? image.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn btn-info"><a href="{{ path('app_image_show', {'id': image.id}) }}">Montrer</a></button>
                    <button class="btn btn-warning"><a href="{{ path('app_image_edit', {'id': image.id}) }}">Editer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}">Créer une nouvelle image</a>
{% endblock %}
